.modal {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000030;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
  padding-top: 0em;
  box-sizing: border-box;
}

.error {
  font-family: Roboto;
  font-size: 0.9em;
  background-color: #ff7474;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.modal-open {
  margin-top: 0px !important;
}

.modal-container {
  margin-top: -200px;
  background-color: white;
  padding: 1em;
  padding-top: 2em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5em;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  position: relative;
  transition: margin-top 350ms cubic-bezier(0.39, 0.58, 0.57, 1);

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-exit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  & input {
    box-sizing: border-box;
    width: 100%;
    line-height: 2em;
  }

  & button {
    line-height: 1.5em;
  }
}