.error {
  font-family: Roboto;
  font-size: 0.9em;
  background-color: #ff7474;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  & input {
    box-sizing: border-box;
    width: 100%;
    line-height: 2em;
  }

  & button {
    line-height: 1.5em;
  }
}